@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.section {
  .section__inner {
    max-width: 1360px;
    padding: 0 40px;
    margin-inline: auto;
  }
  &.inner-s {
    .section-inner {
      max-width: 600px;
    }
  }
  &.inner-m {
    .section-inner {
      max-width: 800px;
    }
  }
}
